<template>
  <div class='fullview'>
    <Navbar :brand='brand' :pages='pages' :buttons='buttons' :darkmode='darkmode'/>
    <router-view :user = 'user' />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  components: {
    Navbar,
  },
  data() {
    return {
      user: null,
      brand: 'ClassCharts',
      buttons: [{ "name":"Logout", "link":"/logout" }],
      pages: [{ "name":"Behaviour", "link":"/behaviour" }, { "name":"Homework", "link":"/homeworks" }, { "name":"Detentions", "link":"/detentions" }],
      darkmode: true
    }
  },
  created() {
    if(this.user !== null) {
      this.buttons = [{ "name":"My Profile", "link":"/me" }]
    }
  }
}
</script>

<style>
a {
  cursor: pointer;
}

.fullview {
  min-height: 100vh;
  width: 100%;
}

.page {
  margin: 16px 12px 10px 12px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.center {
  justify-content: center;
  align-items: center;
}
</style>
